/* Estilos para o corpo da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9ee7ff; /* Azul Claro */
}

/* Estilos para a primeira seção */
.secao1__descricao {
    background-color: #9ee7ff;
    padding: 50px;
}

.secao1__titulo {
    color: #333;
    text-align: center; /* Centraliza o texto */
}


.secao1__paragrafo {
    color: #000000;
}

/* Estilos para as seções de título e parágrafo */
.secao2__titulo,
.secao3__titulo,
.secao2__paragrafo,
.secao3__paragrafo {
    color: #333;
    padding: 20px;
}

/* Estilos específicos para a segunda seção */
.secao2__descricao {

}

/* Estilos específicos para a terceira seção */
.secao3__descricao {

}
